@font-face {
  font-family: 'RightGrotesk';
  src: url('fonts/RightGrotesk-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Optional: class for styled link text */
.custom-link {
  font-family: 'RightGrotesk', sans-serif;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0px; /* Sum of 200 + 100 + 100 from the three columns */
}

/* Mobile adjustments */
@media (max-width: 768px) {
  canvas {
    left: 0px;
  }
}